<div class="card">
  <div class="container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="datepicker-class">
      <label >Bitte wähle ein Datum: </label>

        <mat-form-field>
            <mat-label>Heute</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker> 
        </mat-form-field>
      
        
    </div>
<!--
    <div>
        <h2>Uhrzeit</h2>
        <mat-slider [max]="24" [min]="1" thumbLabel tickInterval="1" step="0.5" [displayWith]="formatLabel" (change)="onChangeRange($event)">
            </mat-slider>
    </div>
-->

<mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Präferenzen wählen
        </mat-panel-title>
      </mat-expansion-panel-header>
                    
    <!-- <Prio Stuff ab hier> -->
        <div *ngIf="code">
        <mat-accordion class="example-headers-align">
            <h4>Alle mit Prio1: </h4>
            <mat-expansion-panel *ngFor="let criteria of prio1Data;"  hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title >
                    {{criteria.name}}
                </mat-panel-title>
                <mat-panel-description >
                  Aktuell keine Präferenz gewählt
                  <mat-icon *ngIf="criteria.id===2">account_circle</mat-icon>
                  <mat-icon *ngIf="criteria.id===3">group_add</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
          
              <mat-form-field>
                <mat-label>Wähle dein Team</mat-label>
                <input matInput type="string" >
              </mat-form-field>
              
            </mat-expansion-panel>

            

            <h4>Alle mit Prio2:</h4>
            <mat-expansion-panel  *ngFor="let criteria of prio2Data;"  hideToggle>
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    {{criteria.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <mat-form-field>
                  <mat-label>Hier passende Auswahl</mat-label>
                  <input matInput>
                </mat-form-field>
            
              </mat-expansion-panel>
            
              <h4>Alle mit Prio3:</h4>
              <mat-expansion-panel *ngFor="let criteria of prio3Data;"   hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{criteria.name}}
                </mat-panel-title>
                <mat-panel-description >
                  Aktuell keine Präferenz gewählt
                  <mat-icon *ngIf="criteria.id===1">brightness_high</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field>
                <mat-label>Hier passende Auswahl</mat-label>
                <input matInput>
              </mat-form-field>
          
            </mat-expansion-panel>

        </mat-accordion>
      


        </div>
      
    <!-- <bis hier> -->
      

                      
    </mat-expansion-panel>
    
  </mat-accordion>


    <div >
      <button class="button-center-detail" mat-raised-button >Meine Reservierungen</button>
      
      <button class="button-center-detail2" mat-raised-button color="primary" (click)="onClickNext()">Weiter</button>
    </div>
  </div>
</div>


<!-- <pre *ngIf="code"> {{(result$|async)|json}} </pre> -->

