.title {
  align-content: center;
  font-size: x-large;
  color: rgb(33, 175, 109);
}

.input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}



input:checked + label {
	background: rgb(33, 175, 109);
}



body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}
/* Für alle Kriteriennamen */
ul {
  
  padding: 0 10px 0 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  background: rgb(236, 234, 234);
}