<div>
    <div class="title">Seatfinder</div>

    <div>
        <mat-form-field>
            <mat-label>Heute</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker> 
        </mat-form-field>

        
    </div>
<!--
    <div>
        <h2>Uhrzeit</h2>
        <mat-slider [max]="24" [min]="1" thumbLabel tickInterval="1" step="0.5" [displayWith]="formatLabel" (change)="onChangeRange($event)">
            </mat-slider>
    </div>
-->
    <div class="panel">
        <div>
            <details>
                <summary> Präferenzen wählen </summary>
                <div class="content">
                    <div *ngIf="code">

                        <h4>Alle mit Prio1: </h4>
                        <ul class="mein-ul">
                            <li *ngFor="let criteria of prio1Data;">
                                <span>{{criteria.name}}
                                    <input type="checkbox" id="switch" />
                                </span>
                                
                            </li>
                        </ul>

                        <h4>Alle mit Prio2:</h4>
                        <ul>
                            <div *ngFor="let criteria of prio2Data;">
                                <span>{{criteria.name}}
                                    <input type="checkbox" id="switch" />
                                </span>
                            </div>
                        </ul>

                        <h4>Alle mit Prio3:</h4>
                        <ul>
                             <li *ngFor="let criteria of prio3Data;">
                                <span>{{criteria.name}}
                                    <input type="checkbox" id="switch" />
                                </span>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </details>
        </div>
    </div>

    <div class="buttons">
        <button mat-button>Meine Reservierungen</button>
        <button mat-button (click)="onClickNext()">Weiter</button>
    </div>
</div>



<!-- <pre *ngIf="code"> {{(result$|async)|json}} </pre> -->

