
<div class="outer-border" id="holder">
    <!-- <nav class="top-navigation">
        <div class="top-banner">
            <div class="inner-div">
                <a class="home-icon"> <img src="https://www.rohde-schwarz.com/favicon.ico" height="30"> </a>
            </div>
            <div class="inner-div">
                <div class="title">Seatfinder</div>
            </div>
        </div>
    </nav> -->

    <div id="body">
        <img id="backgroundimage" src="assets/rs-bg.jpg" border="0" alt="">
        <router-outlet></router-outlet>
    </div>
    
    <!-- <nav class="bottom-navigation">
        <div class="inner-div">
            <a class="home-icon"> <img src="https://www.rohde-schwarz.com/favicon.ico" height="40"> </a>
        </div>
    </nav>     -->
</div>

